.all-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}
.cards{
    border: solid 3px black;
    border-radius: 5px;
    background-color: rgb(73, 153, 223);
    margin: 1% 1%;
}
.name{
    text-align: center;
    font-size: 280%;
    color: #87d81d;
}
.yaar{
    text-align: center;
    font-size: 250%;
    color: #ec932c;
}
.mela{
    text-align: center;
    font-size: 250%;
    color: #14278d;
}